name: Publish to PyPI.org
on:
  release:
    types: [published]
jobs:
  pypi:
    name: Publish release to PyPI
    runs-on: ubuntu-latest
    environment:
      name: pypi
      url: https://pypi.org/p/aioxcom
    permissions:
      id-token: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel
      - name: Build package
        run: |
          python -m pip install --upgrade build
          python -m build
      - name: Publish package
        uses: pypa/gh-action-pypi-publish@release/v1
